div.channel {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #a1efa3;
    border-radius: 6px;
    background-color: #dcf9c8;
}

table.channel {
    width:100%;
}

tr.channelTitle {
    background-color: #a1efa3;
}

tr.channelInfo {
}

tr.channelDescription {
}

/*
tr.channelEnd {
    height: 10px;
}*/

td.channelName {
    font-size: 12pt;
    color: #36c;
    text-decoration: none;
    vertical-align: middle;
}

td.channelName:before {
    vertical-align: middle;
    padding-right: 3px;
    content: url(/images/asterisk-blue-small.png);
} 

td.channelDate{
    color: teal;
    font-style: normal;
    font-size: 7pt;
    text-align: right;
}

td.channelInfo{
    font-style: normal;
    font-size: 8pt;
}

td.channelDescription{
    /*padding-bottom: 20px;*/
}
/*
table.channelList {
    width: 100%;
}

td.channelGroup{
    width: 50%;
    padding-left: 5px;
}
*/
ul.fields {
    padding-left: 5px;
    padding-right: 5px;
    list-style-type: none;
}

ul.groups {
    padding-left: 5px;
    padding-right: 5px;
    list-style-type: none;
}

li.field {
    font-size: 11pt;
    margin-top: 7px;
    padding-bottom: 3px;
    list-style-type: none;
}

li.fieldChannel {
    font-size: 9pt;
    margin-left: 10px;
    list-style-type: none;
}

span.channelDescription {
    margin-left: 20px;
    font-size: 8pt;
}

span.channelInfo {
    margin-left: 5px;
    font-size: 8pt;
}
