table.people {
    width: 100%;
}

/*
h2.peopleTableTitle {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
    font-size: 14pt;
}*/

tr.person:before {
    
}

/*
td.personName:before {
    vertical-align: middle;
    padding-right: 3px;
    content: url(/images/dot.png);
}*/

td.personName{
    padding-left: 10px;
    font-weight: bold;
    font-style: normal;
    color: #3366CC;
    padding-bottom: 0px;
    /*margin-right: 10px;
    vertical-align: baseline;*/
}

td.personDate{
    padding-right: 10px;
    color: teal;
    font-style: normal;
    font-size: 7pt;
    text-align: right;
    padding-bottom: 0px;
    /*vertical-align: middle;*/
    white-space:nowrap;
}

td.personId{
    padding-left: 20px;
    padding-bottom: 3px;
    padding-top: 0px;
    font-size: 9pt;
    /*text-indent: 10px;*/
    text-align: justify;
}

td.personField{
    font-size: 8pt;
}