div.post {
    width: 100%;
    /*margin-top: 10px;
    margin-bottom: 5px;
    background-color: #f0f9fd;
    border: 2px solid #d3effd;
    border-radius: 6px;*/
    margin-left: auto;
    margin-right: auto;
    /*border-radius: 10px;*/
}

hr.answer {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

a.channelName {
    text-decoration: none;
}

h2.answers {
    margin-top: 40px;
    margin-bottom: 15px;
    padding-bottom: 2px;
    border-bottom: 1px solid #00A9FD;
    font-size: 16pt;
    font-weight: bold;
    color: #3366CC;
}

span.vote {
	color: #3366CC;
    font-size: 10pt;
    margin-left: 10px;
    white-space:nowrap;
    height: 100%;
    padding: 3px;
}

img.vote, img.remove{
    vertical-align: middle;
    cursor: pointer;
}

img.edit {
    vertical-align: middle;
    padding-right: 3px;
}

span.voteValue{
    display: inline-block;
    width: 30px;
    text-align: right;
    font-size: 16pt;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    vertical-align: middle;
}
/*
button.vote {
   display: inline;
   padding: 0px; 
   margin: 0px;
   border-width: 0px;
   background: transparent;
}*/

h2.postTitle {
    width: 100%;
    font-size: 19pt;
    font-weight: normal;
    color: #3366CC;
    /*border-bottom: 1px dashed #00A9FD;*/
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
}

table.post {
    width: 100%;
}

td.newPostTitle {
    white-space:nowrap;
    font-size: 12pt;
}

td.postAuthor{
    padding-left: 5px;
    padding-bottom: 0px;
    font-size: 9pt;
    vertical-align: bottom;
    padding-top: 2px;
}

div.syntaxhighlighter {
    border: 1px solid #ececec;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.postDate, td.lastPostDate{
    white-space:nowrap;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: teal;
    font-style: normal;
    font-size: 8pt;
}

td.postEdit {
    text-align: right;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 0px;
    white-space: nowrap;
}

td.comment {
	padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    font-size: 8pt;
    text-align: justify;
}

span.commentInfo {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 8pt;
    color: teal;
}

td.postContent{
    width:100%;
    padding-top: 0px;
}

td.postInfo{
    vertical-align: middle;
}

div.questionContent {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

div.pageContent {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
}

td.postActions {
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
    padding-top: 5px;
}

td.postSettings {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    vertical-align: middle;
}

div.postLink {
    padding: 3px;
}

table.postLink {
    width: 100%;
}

td.postLinkSpace {
    width: 3px;
    padding: 0px;
}

tr.postLinkSpace {
    height: 6px;
}

td.postLinkTitle {
    color: #3366CC;
    padding: 3px;
    background-color: #f8f8f8;
    border-radius: 5px 0px 0px 5px;
    font-size: 11pt;
    font-weight: bold;
    margin: 8px;
    text-decoration: none;
    vertical-align: middle;
}

a.postLinkTitle {
	text-decoration: none;
}

td.postLinkVote {
    width: 20px;
    height: 20px;
    padding: 3px;
    vertical-align: middle;
    color: #3366CC;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #d3effd;
    margin-right: 10px;
}

td.postLinkAnswers {
    width: 20px;
    height: 20px;
    padding: 3px;
    vertical-align: middle;
    color: #3366CC;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #fdd3d3;
}

td.postLinkDate {
	padding: 3px;
    background-color: #f8f8f8;
    border-radius: 0px 5px 5px 0px;
    text-align: right;
    color: teal;
    font-style: normal;
    font-size: 8pt;
    vertical-align: middle;
}

textarea.postContent, textarea.postComment{
    width: 100%;
    padding: 5px;
    border: 1px solid #d3effd;
}

input.postTitle {
    display: inline;
    margin: 3px;
    font-size: 12pt;
    width: 90%;
}

input.postReply, button.postComment, input.postSubmit {
    margin-top: 5px;
    margin-left: 3px;
    background-color: #d3effd;
    border: 1px solid #86d5fd;
    text-decoration: none;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}

input.postReply:hover, button.postComment:hover, input.postSubmit:hover  {
    border: 1px solid #59c6fd;
}

button.postRemove {
    margin: 3px;
    padding: 2px;
    background-color: #86d5fd;
    text-decoration: none;
    border: 1px solid #86d5fd;
    border-radius: 3px;
    vertical-align: middle;
}

div.remMsg {
    padding: 3px;
    text-align: center;
}

div.like_button {
	float: right;
	text-align: right;
}