div.post {
    width: 100%;
    /*margin-top: 10px;*/
    margin-bottom: 15px;
    background-color: #f0f9fd;
    border: 2px solid #d3effd;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    /*border-radius: 10px;*/
}

table.post {
    width: 100%;
}

span.vote {
    margin-left: 10px;
    white-space:nowrap;
    height: 100%;
    padding: 3px;
    /*border: 2px solid #86d5fd;
    background-color: #86d5fd;
    border-radius: 3px;
    vertical-align: middle;*/
}

img.vote{
    vertical-align: middle;
}

span.voteValue{
    font-size: 16pt;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    vertical-align: middle;
}

button.vote {
   display: inline;
   padding: 0px; 
   margin: 0px;
   border-width: 0px;
   background: transparent;
}

tr.postTitle {
    border-bottom: 2px solid #d3effd;
    background-color: #d3effd;
}

tr.postBottom{
    border-top: 1px solid #d3effd;
}

tr.postComment {
    border-top: 1px solid #d3effd;
}

td.postTitle {
    margin: 8px;
    font-size: 12pt;
    color: #36c;
    text-decoration: none;
    vertical-align: middle;
    font-weight: bold;
}

a.postTitle {
    text-decoration: none;
}

td.postTitleLeft {
    /*border-top-right-radius: 10px;*/
    font-size: 10pt;
    color: #36c;
    text-decoration: none;
    vertical-align: middle;
    text-align: right;
    white-space:nowrap;
}

td.postAuthor {
    padding-left: 5px;
    font-size: 8pt;
    text-decoration: none;
    vertical-align: bottom;
}

td.postDate{
    white-space:nowrap;
    padding-right: 8px;
    color: teal;
    font-style: normal;
    font-size: 7pt;
    text-align: right;
}

td.postContent{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    vertical-align: middle;
}

td.postComment{
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    text-align: justify;
}

div.postContent{
    padding: 5px;
    background-color: white;
    border: 1px solid #d3effd;
}

td.postActions {
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
}

td.postSettings {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    vertical-align: middle;
}

textarea.postContent{
    width: 98%;
    padding: 5px;
    background-color: white;
    border: 1px solid #d3effd;
}

input.postTitle {
    display: inline;
    margin: 3px;
    font-size: 12pt;
    width: 95%;
}

input.postReply, input.postComment, input.postSubmit {
    margin: 3px;
    background-color: #d3effd;
    border: 1px solid #86d5fd;
    text-decoration: none;
}

input.postReply:hover, input.postComment:hover, input.postSubmit:hover  {
    border: 1px solid #59c6fd;
}

input.postRemove {
    margin: 0px;
    background-color: #86d5fd;
    text-decoration: none;
    display: inline;
}

div.remMsg {
    padding: 3px;
    text-align: center;
}