div.post {
    width: 100%;
    /*margin-top: 10px;*/
    margin-bottom: 15px;
    background-color: #f0f9fd;
    border: 2px solid #d3effd;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    /*border-radius: 10px;*/
}

table.post, table.lastPosts {
    width: 100%;
}

table.postLink {
    width: 100%;
    margin-bottom: 10px;
}

span.loader {
    vertical-align: middle;
    display: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-align: center;
    padding: 10px;
    color: #3366CC;
    font-size: 14pt;
}

img.loader {
    vertical-align: middle;
    margin-left: 10px;
}

span.vote {
    margin-left: 10px;
    white-space:nowrap;
    height: 100%;
    padding: 3px;
}

img.vote{
    vertical-align: middle;
}

span.voteValue{
    font-size: 16pt;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    vertical-align: middle;
}

button.vote {
   display: inline;
   padding: 0px; 
   margin: 0px;
   border-width: 0px;
   background: transparent;
}

tr.postTitle {
    border-bottom: 1px solid #d3effd;
    background-color: #d3effd;
}

tr.postLinkTitle {
    border-bottom: 1px dotted #86d5fd;
}

tr.postContent{
    border-bottom: 1px solid #d3effd;
}

tr.postBottom{
    border-top: 1px solid #d3effd;
}

tr.comment {
    border-top: 1px dotted #d3effd;
}

td.postTitle {
    margin: 8px;
    font-size: 12pt;
    color: #36c;
    text-decoration: none;
    vertical-align: middle;
    font-weight: bold;
}

td.postLinkTitle {
    margin: 8px;
    font-size: 12pt;
    color: #36c;
    text-decoration: none;
    vertical-align: bottom;
    font-weight: bold;
}

td.postLinkVote {
    color: #36c;
    width: 30px;
    text-align: right;
    vertical-align: bottom;
    white-space:nowrap;
}

a.postTitle {
    text-decoration: none;
}

td.postTitleLeft {
    /*border-top-right-radius: 10px;*/
    font-size: 10pt;
    color: #36c;
    text-decoration: none;
    vertical-align: middle;
    text-align: right;
    white-space:nowrap;
}

td.postAuthor{
    padding-left: 5px;
    padding-bottom: 0px;
    font-size: 8pt;
    text-decoration: none;
    vertical-align: bottom;
}

td.postDate, td.lastPostDate{
    white-space:nowrap;
    padding-right: 8px;
    padding-bottom: 0px;
    color: teal;
    font-style: normal;
    font-size: 7pt;
    text-align: right;
}

td.comment {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

span.commentInfo {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 8pt;
    color: teal;
}

td.postContent{
    width: 100%;
    padding: 5px;
    text-align: justify;
    vertical-align: middle;
}

td.commentBody{
    width: 100%;
    margin: 5px;
}

div.commentBody{
    padding: 3px;
    background-color: white;
    text-align: justify;
}

div.postContent{
    padding: 5px;
    background-color: white;
    border: 1px solid #d3effd;
}

td.postActions {
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
}

td.postSettings {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    vertical-align: middle;
}

textarea.postContent, textarea.postComment{
    width: 98%;
    padding: 5px;
    background-color: white;
    border: 1px solid #d3effd;
}

input.postTitle {
    display: inline;
    margin: 3px;
    font-size: 12pt;
    width: 95%;
}

input.postReply, button.postComment, input.postSubmit {
    margin: 3px;
    background-color: #d3effd;
    border: 1px solid #86d5fd;
    text-decoration: none;
    border-radius: 3px;
    padding: 3px;
}

input.postReply:hover, button.postComment:hover, input.postSubmit:hover  {
    border: 1px solid #59c6fd;
}

button.postRemove {
    margin: 0px;
    padding: 0px;
    background-color: #86d5fd;
    text-decoration: none;
    display: inline;
    border: 1px solid #86d5fd;
    border-radius: 3px;
}

div.remMsg {
    padding: 3px;
    text-align: center;
}