html {
    height: 100%;
}

form {
   display: inline;
}

body {
    background-color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 100%;
    line-height: 130%;
}

pre {
    border: 1px solid #ececec;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

span.loader {
    bottom: 0;
    color: #3366CC;
    display: none;
    font-size: 14pt;
    padding: 10px;
    position: fixed;
    right: 0;
    text-align: center;
    vertical-align: middle;
}

h1.section {
    margin-bottom: 10px;
    font-size: 18pt;
    font-weight: bold;
    color: #3366CC;
}

a {
    color: #36c;
    text-decoration: underline;
    font-style: normal;
}

td {
    padding: 3px;
}

img.notFound {
    margin: 5px;
    vertical-align: middle;
    height: 60px;
}

img.logo {
    vertical-align: middle;
    margin-right: 10px;
}

td.header {
    border-top: 1px solid #00a9fd;
    border-bottom: 1px solid #00a9fd;
    background-color: #d3effd;
    font-size: 18pt;
    vertical-align: middle;
}

td.links {
    height: 50px;
    border-top: 1px solid #00a9fd;
    border-bottom: 1px solid #00a9fd;
    background-color: #d3effd;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    text-align: right;
}

a.header {
    width: 100px; 
    margin-left: 10px; 
    font-weight: normal; 
    font-size: 18px; 
    line-height: 50px;
    color: #1f29ec;
    text-decoration: none;
}

img.header {
    height: 40px;
    vertical-align: middle;
}

td.status {
    height: 50px;
    border-top: 1px solid #00a9fd;
    border-bottom: 1px solid #00a9fd;
    border-left: 1px solid #00a9fd;
    background-color: #86d5fd;
    vertical-align: middle;
}

#footer {
    padding: 0px;
    position: absolute;
    color: #006600;
    bottom: 8px;
    right: 8px;
}

h2.section {
    width: 100%;
    text-decoration: underline;
    font-size: 13pt;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 8px;
}

p {
    margin-bottom: 5px;
}

div.section {
    padding-left: 10px;
    margin-bottom: 20px;
}

/*
p:first-letter {
    font-size: medium;
}*/

table.home {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

td.content {
    height: 100%;
    padding: 20px;
}

td.sideBar {
    vertical-align: top;
    border-left: 1px solid lightblue;
    height: 100%;
}

td.footer {
    width: 100%;
    border-top: 1px solid lightblue;
    text-align: center;
}

img.footer {
    vertical-align: middle;
    margin: 5px;
}

a.feedback {
    position: fixed;
    right: 20px;
    bottom: -3px;
    background-color: #d3effd;
    border: 1px solid lightblue;
    border-radius: 8px 8px 0px 0px;
    vertical-align: middle;
    margin: 0px;
    padding: 3px;
}

a.feedback:hover {
    border: 1px solid #86d5fd;
}

/*
table.right {
    vertical-align: top;
    table-layout: fixed;
    top: 0px;
    caption-side: bottom; 
    height: 100%;
}*/

table.status {
    width: 100%;
}

td.statusLogout {
    text-align: left;
    font-size: 10pt;
    vertical-align: middle;
}

td.statusInfo {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 9pt;
    vertical-align: middle;
}

div.register {
    font-size: 12pt;
    text-align: center;
}

div.registrationForm {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 5px;
}

td.sideBar {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

input {
   border-radius: 3px;
   margin: 6px;
   border: 1px solid #ccc;
   padding: 3px; 
   font-size: 9pt;
}

input:hover {
    border: 1px solid #aaa;
}

.errorMsg {
    vertical-align: middle;
    font-weight: bold;
}

img.errorMsg {
    margin-bottom: 4px;
}

/*
input.submit {
   margin: 6px;
   border: 1px solid #ccc;
   padding: 0px; 
}*/

select {
   margin: 6px;
}

td.head {
    padding-right: 5px;
    font-weight: bold;
}

/*
 * Errore
 * 
*/

div.error{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #fdd9d9;
    border-radius: 4px;
}

table.error {
    width: 100%;
}

tr.errorTitle {
    background-color: #fdd9d9;
}

tr.errorBody {
    border-top: 1px solid #fdd9d9;
}

td.errorTitle {
    font-size: 12pt;
    text-decoration: none;
    vertical-align: middle;
}

td.errorTitle:before {
    vertical-align: middle;
    padding-right: 3px;
    content: url(/images/error.png);
} 

td.errorBody {
    width: 100%;
    padding-left: 5px;
    text-decoration: none;
    padding: 5px;
    text-align: justify;
}


/* Basic formats */

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

/* Global align classes */

.left {
	text-align: inherit;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.full {
	text-align: justify
}

/* Image and table specific aligns */

img.left, table.left {
	float: left;
	text-align: inherit;
}

img.center, table.center {
	margin-left: auto;
	margin-right: auto;
	text-align: inherit;
}

img.center {
	display: block;
}

img.right, table.right {
	float: right;
	text-align: inherit;
}

h1 {
    font-size: 16pt;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 13px;
}

h2 {
    font-size: 13pt;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
}

ul {
    margin-left: 10px;
    list-style-type: disc;  
    list-style-position: inside;
    margin-bottom: 5px;
}

ol {
    margin-left: 10px;
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 5px;
}

button.continue, button.abort {
    margin: 3px;
    background-color: #d3effd;
    border: 1px solid #86d5fd;
    text-decoration: none;
    border-radius: 3px;
    padding: 3px;
}