html {
	height: 100%;
}

form {
   display: inline;
}

body {
    background-color: #ffffff;
    /*font-family: Arial,Helvetica,sans-serif;*/
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    line-height: 130%;
    overflow-y: scroll;
}

pre {
    border: 1px solid #ececec;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

a.logo {
	font-size: 20pt;
	text-shadow: -1px 1px 2px #808080;
	color: black;
	text-decoration: none;
}

span.loader {
    bottom: 0;
    color: #3366CC;
    display: none;
    font-size: 14pt;
    padding: 10px;
    position: fixed;
    right: 0;
    text-align: center;
    vertical-align: middle;
}

h1.section {
    margin-bottom: 10px;
    font-size: 20pt;
    font-weight: bold;
    color: #3366CC;
    /*text-shadow: -1px 1px 1px #a0a0a0;*/
    line-height: 110%;
}

h2.section {
    width: 100%;
    text-decoration: none;
    font-size: 13pt;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #3366CC;
    /*text-shadow: -1px 1px 1px #d0d0d0;*/
}

a {
    color: #36c;
    text-decoration: underline;
    font-style: normal;
}

img.notFound {
    margin: 5px;
    vertical-align: middle;
    height: 60px;
}

img.logo {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 3px;
}

div.headerContainer {
	width: 100%;
	padding: 0px;
   /* background-image: url('/images/header.png');
	background-repeat: repeat-x;
	background-position: bottom;*/
	background-color: #AAD0FF;
	border-bottom: 1px solid #80c3ea;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.52);
	position: fixed !important;
	top: 0px;
	left: 0px;
	z-index: 300;
}

div.header {
	width: 1000px;
	margin: 0 auto;
    font-size: 18pt;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 27px;
}

.rfloat {
	float: right;
}

.border {
    border-left: 1px solid #80c3ea;
}

img.header {
    height: 25px;
    vertical-align: middle;
    background-color: #AAD0FF;
    padding: 2px 5px 2px 5px;
}

p {
    margin-bottom: 5px;
}

div.section {
    padding-left: 10px;
    margin-bottom: 20px;
}

/*
p:first-letter {
    font-size: medium;
}*/

div.body {
	width: 1000px;
	margin-top: 65px;
	margin-left: auto;
	margin-right: auto;
}

div.content {
	width: 770px;
	padding-left: 10px;
}

div.sideBar {
	margin-top: -10px;
	float: right;
	width: 200px;
}

div.sideBarSection {
    border-radius: 6px;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
	background-image: url('/images/grunge.png');
	background-repeat: repeat;
	box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
}

div.footer {
	margin-top: 20px;
	clear: both;
    width: 100%;
    /*border-top: 1px solid lightblue;*/
    text-align: center;
}

img.footer {
    vertical-align: middle;
    margin: 5px;
}

a.feedback {
    position: fixed;
    right: 200px;
    bottom: -4px;
    background-color: #86d5fd;
    border: 2px solid #00a9fd;
    border-radius: 8px 8px 0px 0px;
    vertical-align: middle;
    margin: 0px;
    padding: 4px;
    z-index: 300;
}

/*
table.right {
    vertical-align: top;
    table-layout: fixed;
    top: 0px;
    caption-side: bottom; 
    height: 100%;
}*/

div.status {
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
	background-image: url('/images/grunge.png');
	background-repeat: repeat;
	box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
}

table.status {
	width: 100%;
}

td.statusWelcome {
	text-align: center;
    font-size: 12pt;
    padding-bottom: 5px;
    font-weight: bold;
    color: #3366CC;
    text-shadow: -1px 1px 1px #d0d0d0;
}

td.statusInfo, td.statusLogout {
    text-align: center;
    font-size: 9pt;
}


td.statusOnline {
	padding-top: 3px;
    text-align: center;
    font-size: 9pt;
}

div.register {
    font-size: 12pt;
    text-align: center;
}

div.registrationForm {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 5px;
}

input {
   border-radius: 3px;
   margin: 6px;
   border: 1px solid #ccc;
   padding: 3px; 
   font-size: 9pt;
}

input:hover {
    border: 1px solid #aaa;
}

.errorMsg {
    vertical-align: middle;
    font-weight: bold;
}

img.errorMsg {
    margin-bottom: 4px;
}

/*
input.submit {
   margin: 6px;
   border: 1px solid #ccc;
   padding: 0px; 
}*/

select {
   margin: 6px;
}

td.head {
    padding-right: 5px;
    padding-bottom: 3px;
    font-weight: bold;
}

/*
 * Errore
 * 
*/

div.error{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #fdd9d9;
    border-radius: 4px;
}

table.error {
    width: 100%;
}

tr.errorTitle {
    background-color: #fdd9d9;
}

tr.errorBody {
    border-top: 1px solid #fdd9d9;
}

td.errorTitle {
    font-size: 12pt;
    text-decoration: none;
    vertical-align: middle;
}

td.errorTitle:before {
    vertical-align: middle;
    padding-right: 3px;
    content: url(/images/error.png);
} 

td.errorBody {
    width: 100%;
    padding-left: 5px;
    text-decoration: none;
    padding: 5px;
    text-align: justify;
}


/* Basic formats */

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

/* Global align classes */

.left {
	text-align: inherit;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.full {
	text-align: justify
}

/* Image and table specific aligns */

img.left, table.left {
	float: left;
	text-align: inherit;
}

img.center, table.center {
	margin-left: auto;
	margin-right: auto;
	text-align: inherit;
}

img.center {
	display: block;
}

img.right, table.right {
	float: right;
	text-align: inherit;
}

h1 {
    font-size: 16pt;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 13px;
}

h2 {
    font-size: 13pt;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
}

ul {
    margin-left: 10px;
    list-style-type: disc;  
    list-style-position: inside;
    margin-bottom: 5px;
}

ol {
    margin-left: 10px;
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 5px;
}

button.continue, button.abort {
    margin: 3px;
    background-color: #d3effd;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}

div.wide {
	border: 1px solid black;
	width: 100%;
}

.link {
    cursor: pointer;
}

.icon {
	vertical-align: middle;
	margin-right: 5px;
}

.anchor {
    padding-top: 50px;
    margin-top: -50px;
}

.middle {
	vertical-align: middle;
}

a.nodecor {
	text-decoration: none;
}